@import url('https://fonts.googleapis.com/css2?family=Alata&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*html {}*/

html {
	font-family: 'Noto Sans', sans-serif; 
	font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
}

:root {
	--light: #F6F8FF;
	--dark: #262527;
	--yellow: #FFE74C;
	--green: #01AF75;
	--red: #DF2935;
	--blue: #48ACF0;
	--pink: #FF99C9;
	--teal: #4ECDC4;
}

::-moz-selection {
	background: var(--yellow);
}
::selection {
	background: var(--blue);
	color: var(--light)
}

body {
	background-color: var(--light);
	background-color: white;

	color: var(--dark);

	padding: 50px;
}

h1.title {
	font-family: 'Alata', 'Noto Sans', sans-serif;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0;
	margin: 0;
}

h2 {
	font-size: 25px;
	color: #676C6C;
	font-family: 'Alata', 'Noto Sans', sans-serif;
}

h2.subtitle {
	font-family: 'Noto Sans', sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #676C6C;
	margin-top: 10px;
}

div#left-bar {
	position: fixed;
	display: inline-block;
	width: 15vw;
	height: 90vh;
	vertical-align: top;
	
	text-align: right;

	font-size: 20px;
}

div#left-bar img#logo {
	width: 100px;
	float: right;
}

div#left-bar div#links {
	position: absolute;
	bottom: 0;
	right: 0;
}

div#left-bar a {
	color: var(--dark);
	text-decoration: none;
}

div#left-bar a:visited {
	color: var(--dark);
}

div#left-bar ul {
	list-style: none;
}

div#content {
	margin-left: 20vw;
	display: inline-block;
	max-width: 800px;
	min-width: 600px;
	width: 50%;
	vertical-align: top;
}

div#content ul#posts {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

div#content ul#posts li {
	margin-bottom: 50px;
}

/*div#content ul#posts li span {}*/

div#content ul#posts li a {
	text-decoration: none;
	color: var(--dark);
}

div#content ul#posts li a:visited {
	color: var(--dark);
}

div#content ul#posts li a div {
	display: inline-block;
	vertical-align: middle;
	border-bottom: 3px solid var(--dark);
	width: 100%;
	padding-bottom: 10px;
}

/*div#content ul#posts li a h1 {}*/

div#content ul#posts li a h2 {
	font-weight: normal;
}

div#content h2.title {
	margin-top: 0;
}

div#content div.date {
	display: inline-block;
	margin-bottom: 10px;

	background-color: var(--yellow);
	padding: 7px 10px;
	/*padding-top: 10px;*/

	/*border-radius: 5px;*/
	box-shadow: 5px 5px #272d2d2f;

	font-weight: 600;
}

div#content div.date.tech {
	background-color: var(--green);
	color: var(--light);
}

div#content img.header-image {
	width: 100%;
}

div#content p {
	font-size: 20px;
	text-align: justify;
	line-height: 150%;
}

div#content p a {
	font-family: 'Lora', serif;
	font-weight: 600;
	color: var(--dark);
	text-decoration: none;
	border-bottom: 2px solid var(--dark);
}

div#content div.quote {
	width: 80%;
	margin: 50px auto;
	font-family: 'Lora', serif;
	font-size: 20px;
	text-align: justify;
	color: #515757;
	line-height: 150%;
}

div#content code {
	font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";

	background-color: var(--dark);
	color: var(--light);
	font-family: 'JetBrains Mono', monospace;
	font-size: 15px;
}

div#content code.highlighter-rouge {
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 15px;
}

div#content figure.highlight {
	width: 100%;
	margin: 0;
}

div#content pre {
	background-color: var(--dark);
	color: var(--light);
	font-family: 'JetBrains Mono', monospace;
	font-size: 15px;
	border-radius: 5px;
	overflow-x: scroll;
	padding: 20px 10px;
}

div#content pre pre {
	overflow-x: auto;
	padding: 0 20px;
	padding-right: 10px;
	border-radius: unset;
}

div#content pre pre.lineno {
	border-right: 1px solid #515757;
	color: #515757;
	text-align: right;
}

/*div#content pre .o {}*/

div#content pre .k {
	color: var(--blue);
}

div#content pre .ow {
	color: var(--teal);
}

div#content pre .s {
	color: var(--yellow);
}

div#content pre .nb {
	color: var(--pink);
}

div#content pre .c {
	color: #7C8181;
}

img {
	width: 90%;
	display: block;
	margin: auto;
}

blockquote {
	font-family: "Lora", serif;
	font-style: italic;
	padding-left: 30px;
	border-left: 5px solid lightgray;
}