---
layout: default
---

{% assign psize = site.posts | size %}
{% if psize  > 0 %}
<ul id='posts'>
	{% for post in site.posts %}
	<li>
		<span class='date {% if post.category %}{{ post.category }}{% endif %}'>{{ post.date | date: '%d/%m/%Y' }}</span>
		<a href='{{ site.baseurl }}{{ post.url }}'>
			<div>
				<h2>{{ post.title }}</h2>
				{% if post.subtitle %}<h3>{{ post.subtitle }}</h3>{% endif %}
				{% if post.header_image %}<img class='header-image' src='{{ site.baseurl }}/assets/images/{{ post.header_image }}' />{% endif %}
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% else %}
Sorry, I haven't produced anything interesting enough to share so far :/
{% endif %}
